@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

/*
-- Common --
*/
html,
body,
#root {
  font-family: 'Pretendard Variable', ui-sans-serif, system-ui, -apple-system;
  -webkit-font-smoothing: antialiased;

  width: 100%;
  height: 100%;

  margin: 0 auto;

  color: #333d4b;
  background-color: #ffffff;

  scroll-behavior: smooth;
}
.main {
  @apply w-full h-auto flex justify-center items-center;
}
.main-container {
  @apply max-w-screen-lg w-full h-auto flex flex-col justify-center items-center drop-shadow-sm;
}
.heading {
  @apply font-semibold text-4xl text-myBlue;
}
.typo {
  @apply font-medium text-xl;
}

/*
-- Header --
*/
.header {
  @apply w-full h-16 fixed z-10 flex justify-center px-8 bg-white border-b;
}
.header-container {
  @apply max-w-screen-lg w-full flex justify-between items-center;
}

/*
-- Nav --
*/
.nav-list {
  @apply w-auto flex flex-row justify-center items-center;
}
.nav-list_item {
  @apply font-medium text-base px-4;
}

/*
-- Footer --
*/
.footer {
  @apply w-full h-20;
}
.footer-container {
  @apply w-full h-full flex justify-center items-center;
}

/*
-- [Home] Index --
*/
.home-article_1 {
  @apply w-full h-screen flex flex-col justify-evenly items-center pt-16;
}
.article-container_1 {
  @apply w-full flex flex-row justify-evenly items-center mt-10 drop-shadow-sm;
}
.down-button {
  @apply p-1 animate-bounce-slow;
}

/*
-- [Home] About Us --
*/
.home-article_2 {
  @apply w-full h-screen flex flex-col justify-evenly items-center pt-16;
}
.article-container_2 {
  @apply w-full px-3;
}

/*
-- [Home] Contact Us --
*/
.home-article_3 {
  @apply w-full h-screen flex flex-col justify-center items-center pt-16;
}
.article-container_3 {
  @apply w-full h-full flex flex-col justify-center;
}
.card-container {
  @apply flex flex-row justify-evenly;
}
.card {
  @apply w-72 h-60 flex flex-col justify-center items-center bg-myGray bg-opacity-40 rounded-xl;
}

/*
-- Publications --
*/
.publications-article {
  @apply w-full flex justify-center items-start py-8 mb-5 bg-myGray bg-opacity-40 rounded-xl;
}
.year {
  @apply font-semibold text-3xl pr-8 mr-8 border-r-2 border-gray-300;
}
.publications-list_item {
  @apply mb-1;
}
