@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

/*
-- Common --
*/
html,
body,
#root {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;

  width: 100%;
  height: 100%;

  margin: 0 auto;

  color: #333d4b;
  background-color: #ffffff;

  scroll-behavior: smooth;
}
.main {
  @apply w-full h-auto flex justify-center items-center;
}
.main-container {
  @apply max-w-screen-lg w-full h-auto flex flex-col justify-center items-center;
}
.heading {
  @apply font-semibold text-2xl md:text-3xl text-myBlue mb-10 md:mb-20;
}
.typo {
  @apply font-medium text-base md:text-xl;
}
.search-container {
  @apply w-full flex justify-start items-center px-8;
}
.search-input {
  @apply w-52 text-black py-2 px-4 bg-myGray rounded-xl focus:outline-none;
}

/*
-- Header --
*/
.header {
  @apply w-full md:h-16 fixed z-10 flex justify-center md:px-8 bg-white border-b-0 md:border-b;
}
.header-container {
  @apply max-w-screen-lg w-full flex flex-col md:flex-row items-center;
}
.header-top {
  @apply w-full h-[3.75rem] flex justify-between items-center px-6 md:px-4 border-b md:border-none;
}

/*
-- Nav --
*/
.nav {
  @apply w-full md:w-auto md:flex flex-col md:flex-row border-b md:border-none;
}
.nav-list {
  @apply md:flex flex-row justify-center items-center py-2 md:py-0 px-3 md:px-0;
}
.nav-list_item {
  @apply font-medium text-base md:px-4;
}

/*
-- Footer --
*/
.footer {
  @apply w-full h-20;
}
.footer-container {
  @apply w-full h-full flex justify-center items-center;
}

/*
-- [Home] Index --
*/
.home-article_1 {
  @apply w-full h-mobileScreen flex flex-col justify-evenly items-center pt-14 md:pt-16;
}
.article-container_1 {
  @apply w-full flex flex-col md:flex-row justify-evenly items-center md:mt-10 drop-shadow-sm;
}
.down-button {
  @apply p-1 animate-bounce-slow mt-5;
}

/*
-- [Home] AboutUs --
*/
.home-article_2 {
  @apply w-full h-mobileScreen flex flex-col justify-evenly items-center pt-16;
}
.article-container_2 {
  @apply w-full px-8 md:px-3;
}

/*
-- [Home] ContactUs --
*/
.home-article_3 {
  @apply w-full h-full flex flex-col justify-center items-center mt-10 md:mb-30;
}
.article-container_3 {
  @apply w-full h-full flex flex-col justify-center;
}
.card-container {
  @apply flex flex-col md:flex-row md:justify-evenly items-center;
}
.card {
  @apply w-64 md:w-72 h-40 md:h-56 flex flex-col justify-center items-center mb-5 md:mb-0 bg-myGray bg-opacity-50 rounded-xl;
}

/*
-- [Members] MemberList --
*/
.members-container {
  @apply w-full flex flex-row flex-wrap justify-center items-center;
}
.members_professor {
  @apply w-full flex flex-col justify-center items-center;
}
/*
-- [Members] MemberItem --
*/
.members_profile {
  @apply w-64 flex flex-col justify-between items-center py-8 mb-5 mx-5 bg-myGray bg-opacity-50 rounded-xl;
}
.member_name {
  @apply font-semibold text-lg md:text-xl text-center;
}
.member_info {
  @apply font-medium text-sm md:text-base;
}

/*
-- Publications --
*/
.publications-article {
  @apply w-auto flex flex-col md:flex-row justify-center items-start mx-8 px-8 md:px-10 py-7 md:py-8 mb-5 bg-myGray bg-opacity-50 rounded-xl;
}
.year {
  @apply font-semibold text-xl md:text-3xl pb-1 md:pb-0 mb-2 md:mb-0 md:pr-8 md:mr-8 border-b-2 md:border-b-0 md:border-r-2 border-zinc-300;
}
.publication-list_item {
  @apply my-0.5;
}
.publication_title {
  @apply font-medium text-base md:text-lg;
}
/*
-- [Notices] NoticeList --
*/
.notice-list {
  @apply w-full flex flex-col px-8 md:mb-10;
}

/*
-- [Notices] NoticeItem --
*/
.notice-list_item {
  @apply w-auto mb-5 pt-2 pb-2 border-b hover:text-zinc-400 active:text-zinc-400;
}
.notice-item_link {
  @apply w-auto flex flex-col sm:flex-row justify-between;
}
.notice-item_title {
  @apply font-medium text-base md:text-lg;
}
.notice-item_date {
  @apply font-normal text-sm md:text-base text-zinc-500;
}

/*
-- [NoticeDetail] NoticeDetail --
*/
.notice-detail {
  @apply w-full flex flex-col px-8 mt-28 md:mt-40;
}
.notice-button {
  @apply w-full flex justify-end;
}
.notice-link {
  @apply font-semibold text-sm md:text-base text-myBlue px-4 py-2 mt-8 md:mt-10 mb-2 md:mb-10 bg-myGray bg-opacity-50 rounded-xl;
}

/*
-- [NoticeDetail] NoticeHeader --
*/
.notice-detail_header {
  @apply w-full flex flex-col pb-6 md:pb-8;
}
.notice-detail_title {
  @apply font-semibold text-2xl md:text-3xl text-zinc-800 mb-3;
}
.notice-detail_date {
  @apply text-base md:text-lg;
}

/*
-- [NoticeDetail] NoticeContent --
*/
.notice-detail_content {
  @apply w-full border-y py-6 md:py-8 whitespace-pre-line;
}
.notice-detail_line {
  @apply font-medium text-base md:text-lg;
}
